$mainfont:'Barlow Condensed',
;
$maincolor: hsl(230, 29%, 20%);
$childcolor:hsl(231, 7%, 65%);
body {
    margin: 0;
    padding: 0;
    font-family: $mainfont;
    font-size: 18px;
    text-decoration: nones;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    // overflow: hidden;
}

.card-left {
    grid-column: 1/2;
    margin: 2em 0 2em 5em;
    &__logo {
        display: inline-block;
    }
    &__description {
        margin-top: 5em;
        &--option {
            background-color: $maincolor;
            color: #fff;
            border-radius: 50px;
            font-size: 24px;
            padding: .2em .5em;
            font-weight: 700;
        }
        &--text {
            display: inline;
            letter-spacing: 5px;
            margin-left: 1em;
            color: $childcolor;
            text-transform: uppercase;
        }
        &--titre {
            width: 80%;
            font-size: 3.5em;
            margin: 3% 0;
            color: $maincolor;
            font-weight: 700;
            text-transform: uppercase;
            font-style: bolder;
        }
        &--text1 {
            font-size: 2.8em;
            color: hsl(230, 11%, 40%);
            margin-top: 1%;
        }
    }
    &__btn {
        padding: 1.5em 2em;
        margin-top: 5%;
        border: none;
        border-radius: 5px;
        background-color: hsl(0, 100%, 68%);
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
    }
    &__text2 {
        margin-left: 1.5em;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $childcolor;
    }
}

.card-right {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    &__menu {
        list-style-type: none;
        display: inline-block;
        grid-row: 1/3;
        grid-column: 1/4;
        background-color: hsl(207, 33%, 95%);
        border-bottom-left-radius: 30px;
        text-align-last: end;
        text-transform: uppercase;
        cursor: pointer;
        margin: 0;
        padding: 2em 8em 0 0;
        &--link {
            display: inline;
            margin-left: 2em;
            a {
                font-weight: 700;
                text-decoration: none;
                color: $maincolor;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        &--light {
            opacity: 0.4;
            padding: 2.6em;
        }
    }
    .card-right__toggle {
        display: none;
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .card-right__image {
        margin-top: 10em;
        grid-row: 1/4;
        grid-column: 1/4;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}